body {
    background: black;
    color: white;
}

.top-section {
    margin-top: 15px;
    position: relative;
    text-align: center;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 6vw;
    text-shadow: 4px 3px #000000;
}

#bmp {
    font-size: 12vw;
    margin-bottom: -15px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section {
    background: white;
    margin: 15px auto;
    border: 2px solid black;
    height: 600px;
    color: black;
}

#logo {
    width: 50%;
    margin: 70px;
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    margin-bottom: 30px;
    width: 85%;
}

#sharp {
    margin: 50px;
}

.email p:hover {
    color: blue;
    text-decoration: underline;
}

.card .description .phone {
    font-size: 22px;
}